.block-container {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.highlight {
    font-size: 20px;
    font-weight: bold;
    color: #1f77b4;
}

h1, h2, h3 {
    font-family: "Segoe UI", sans-serif;
}
